.bouton{
    border-radius: 50%;
}

.green{
    border: 4px solid #29BF12;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 70%;
    left: 150px;
}

.red{
    border: 4px solid #F21B3F;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 40%;
    left: 450px;
}

.yellow{
    border: 4px solid yellow;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 40%;
    left: 50px;
}

.blue{
    border: 4px solid #08BDBD;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 15%;
    left: 260px;
}

.orange{
    border: 4px solid rgb(255, 123, 0);
    height: 60px;
    width: 60px;
    position: absolute;
    top: 70%;
    left: 360px;
}

.gameContainer{
    width: 700px;
    height: 700px;
    background-color: #071013;
    position: relative;
}

.green:hover{
    background-color: #29BF12;
    transition-timing-function: ease;
    transition-duration: 0.35s;
}

.red:hover{
    background-color: #F21B3F;
    transition-timing-function: ease;
    transition-duration: 0.35ms;
}

.yellow:hover{
    background-color: yellow;
    transition-timing-function: ease;
    transition-duration: 0.35ms;
}

.blue:hover{
    background-color: #08BDBD;
    transition-timing-function: ease;
    transition-duration: 0.35ms;
}

.orange:hover{
    background-color: rgb(255, 123, 0);
    transition-timing-function: ease;
    transition-duration: 0.35ms;
}

.moveBlue{
    background-color: #08BDBD;
    transition-timing-function: ease;
    transition-duration: 0.35ms;
}

.moveGreen{
    background-color: #29BF12;
    transition-timing-function: ease;
    transition-duration: 0.35s;
}

.moveYellow{
    background-color: yellow;
    transition-timing-function: ease;
    transition-duration: 0.35ms;
}

.moveOrange{
    background-color: rgb(255, 123, 0);
    transition-timing-function: ease;
    transition-duration: 0.35ms;
}

.moveRed{
    background-color: #F21B3F;
    transition-timing-function: ease;
    transition-duration: 0.35ms;
}